*~
*.autosave
*.a
*.core
*.moc
*.o
*.obj
*.orig
*.rej
*.so
*.so.*
*_pch.h.cpp
*_resource.rc
*.qm
.#*
*.*#
core
tags
.DS_Store
*.debug
Makefile*
*.prl
*.app
moc_*.cpp
ui_*.h
qrc_*.cpp
Thumbs.db
*.res
*.rc
*.embed.manifest
/.qmake.cache
/.qmake.stash
*.pro.user*
*.creator.user*
*.qbs.user*
*.qmlproject.user*
*.json
.*.swp
build
bin

